<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikePoint.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>866CF7A52AA9F5540080D6EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866CF7BA2AA9F5560080D6EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866CF7C42AA9F5560080D6EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
